@import "tailwindcss";

@layer base {
    body {
        @apply antialiased bg-zinc-950 text-zinc-300
    }
}

@theme {

    --font-caveat: 'Caveat Variable', cursive;
    --font-google: 'Google Sans Flex', sans-serif;
}
